@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
    --color1 : #06141b;
    --color2 : #11212d;
    --color3 : #253745;
    --color4 : #4a5c6a;
    --color5 : #9ba8ab;
    --color6 : #ccd0cf;

}
 .color1 {
  background-color: var(--color1);
 }
 .color4 {
  background-color: var(--color4);
  color: var(--color1);
 }
 .color3 {
  background-color: var(--color2);
  color : var(--color6);
 }
.loadingText {
  color : var(--color5);
}